name: Meroshare IPO filler

on:
    schedule:
        - cron: '15 6 * * 0,3'
    workflow_dispatch:

defaults:
    run:
        shell: bash

jobs:
    IPOFiller:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                python-version: ['3.11']

        env:
            User: ${{ secrets.USER }}
            cptl: ${{ secrets.CPTL }}
            ClientID: ${{ secrets.CLIENTID }}
            Password: ${{ secrets.PASSWORD }}
            MPin: ${{ secrets.MPIN }}
            CRN: ${{ secrets.CRN }}
            URL: ${{ secrets.URL }}
            WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
            SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
            GCP_CREDENTIALS_B64: ${{ secrets.GCP_CREDENTIALS_B64 }}

        steps:
            - name: checkout repo into runner
              uses: actions/checkout@v4
            - name: Setup Chrome
              uses: browser-actions/setup-chrome@v1
            - name: Setup Chromedriver
              uses: nanasess/setup-chromedriver@v2
            - name: set-up python base environment
              uses: actions/setup-python@v4
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Necessary Dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            - name: Decode GCP credentials
              run: |
                echo "$GCP_CREDENTIALS_B64" | base64 --decode > credentials.json
            - name: Fill up process
              run: python ./fintech.py